{% extends 'memo/base.html' %}

{% block content %}

<form action="" class="form-inline my-2 my-lg-0 float-right">

  {% if search_form.non_field_errors %}
  <div class="error-list text-danger font-weight-bold">
    {% for error in search_form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
  {% endif %}

  {% for field in search_form %}
  <div class="form-group">
    {{ field.label_tag }}
    {{ field }}
    {% if field.errors %}
    <div class="error-list text-danger font-weight-bold">
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}

  <button type="submit" class="btn my-2 my-sm-0">検索</button>

</form>

<div class="my-5">
  <a class="btn" href="{% url 'memo:new_memo' %}">新規メモ作成</a>
</div>

{% for memo in memo_list %}
<a href="{% url 'memo:detail' memo.slug %}" class="memo-title">
  <div>
    {{ memo }}
    <span class="updated_datetime">{{ memo.updated_datetime }}</span>
  </div>
</a>
{% empty %}
<p>表示するメモがありません。</p>
{% endfor %}

{% include 'memo/includes/paginator.html' %}

{% endblock content %}